.SortVisualizer {
  /* max-width: 992px; */
  width: 100%;
  
  box-shadow: var(--box-shadow-1);
  background-color: var(--background-color-1);
  transition: 0.5s ease-in-out;
}

.SortVisualizer__ProgressBar {
  overflow: clip;
  margin: 0.5rem;
}
